<p id="notice"><%= notice %></p>

<h1 class="shop-name">
  <%= t('shop') %>: <%= @shop.name.capitalize %>
</h1>

<table class="schedules-table">
  <tbody>
    <% @weekdays.each_with_index do |day, index| %>
      <tr class="<%= 'bold' if index.zero? %>">
        <td>
          <%= index.zero? ? t('schedules') + ':' : '' %>            
        </td>
        <td>
          <span><%= t(day.downcase) %></span>            
        </td>
        <td>
          <%= @schedule.open?(day) ? @schedule.hours(day)&.join(', ') : t('closed') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('back_to_list'), shops_path %>
