<p id="notice"><%= notice %></p>

<h1 class="shop-name">
  Shop: <%= @shop.name.capitalize %>
</h1>

<table class="schedules-table">
  <tbody>
    <% @weekdays.each_with_index do |day, index| %>
      <tr class="<%= 'bold' if index.zero? %>">
        <td>
          <%= index.zero? ? 'Horaires:' : '' %>            
        </td>
        <td>
          <span><%= day %></span>            
        </td>
        <td>
          <%= @schedule.is_open?(day) ? @schedule.hours(day)&.join(', ') : 'Fermé' %>          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Shops list', shops_path %>
