<!DOCTYPE html>
<html>
  <head>
    <title>ShopScheduler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to '🇫🇷 French', root_path(locale: :fr) %></li>
      <li><%= link_to '🇬🇧 English', root_path(locale: :en) %></li>
      <li><%= link_to '🇪🇸 Español', root_path(locale: :es) %></li>
    </ul>
    
    <%= yield %>
  </body>
</html>
